# Shopify settings
SHOPIFY_DOMAIN=daronwwtcom-b2b.myshopify.com
SHOPIFY_TOKEN=shpat_XXXXXXXXXXXXXXXXXXXXXXXX

# Google Sheet settings
SHEET_ID=1M96F6Pef2KhybGBKypnJ9SPLLIdq-qrGEzXGA5PV51Y
CLIENT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR\nPRIVATE\nKEY\n-----END PRIVATE KEY-----\n"
